.skill {
    width: 100%;
}
.skill__titulo {
    text-align: center;
    padding: 30px 0 60px 0;
    color: #464646;
    font-family: var(--fonte-principal);
    font-size: 28px ;
     
}

.skill__ti {
    display: flex;
    justify-content: space-around;
    width: 100%;
    
    
}

.skill__minhas {
    background-color: #FFFF;
    height: 148px ;
    width: 140px;
   
    
}

.skill__img {
    position: relative;
    top: 60% ;
    left: 20% ;
}

.skill__nome {
    position: relative;
    top: 55%;
    left: 19%;
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .skill{
        width: 100%;
        margin: 0;
    }

    .skill__ti{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skill__titulo{
        font-size: 22px;
        line-height: 26px;
        text-align: center;
    }

    .skill__minhas{
        width: 120px;
        margin: 0;
        margin-top: 15px;
    }

    .skill__nome{
        margin: 0;
        padding: 0;
        padding-top: 10px;
    }
}