.contato {
    background-color: var(--cor-de-fundo2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.contato__imagem {
    padding-right: 30px;
}

.contato__img{
    height: 550px;
}

.contato__titulo{
    font-family: var(--fonte-principal);
    font-size: 24px;
    font-weight: 700;
    padding-top: 25px;
}

.contato__texto{
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 20px;
}

.contato__formulario{
    padding-left: 30px;
}

.contato__input{
    width: 100%;
    height: 50px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 8px;
}

.contato__mensagem{
    width: 100%;
    outline: none;
    resize: none;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.contato__enviar {
    margin-top: 20px;
}

.botao__enviar{
    width: 50%;
    height: 40px;
    color: white;
    background-color: #2A7AE4;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    font-family: var(--fonte-principal);
    font-size: 17px;
    cursor: pointer;
}


.contato__form{
    margin-bottom: 35px;
    position: relative;
}

.contato__info{
    font-family: var(--fonte-principal);
    position: absolute;
    left: 5px;
    top: 16px;
    pointer-events: none;
    transition: 0.5s;
    opacity: .5;
}

.contato__input:focus ~ span,
.contato__mensagem:focus ~ span{
    transform: translateY(-37px);
    font-size: 14px;
    opacity:1;
}

.contato__input:valid ~ span,
.contato__mensagem:valid ~ span {
    transform: translateY(-37px);
    font-size: 14px;
    opacity:1;
}

@media screen and (max-width: 768px) {
    body{
        width: 100%;
    }
    .contato{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contato__formulario{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contato__img{
        display: none;
    }

    .contato__input{
        width: 296px;
    }

    .contato__mensagem{
        width: 296px;
    }

    .botao__enviar{
        width: 151px;
        height: 40px;
        
    }
    
}

